body{
    font-family: 'MedievalSharp', cursive;
    background-color: #ECE8DD;
}
textarea {
    width: 90%;
    height: 10vh;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    
    
}
#output2 {
    
    display: inline-block;
    width: 46%;
    margin: 10px;
}
#output1 {
    
    display: inline-block;
    width: 46%;
    margin: 10px;
}
button{
    margin-left: 100px;
}
p{
    text-align: justify;
}
h1{
    background-color: #47342C;
    color: #BAAA90;
    font-size: 30px;
}
#footer{
    background-color: #47342C;
    color: #BAAA90;
    text-align: center;
}
 
					