textarea {
    width: 90%;
    height: 10vh;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    
    
}
#output2 {
    
    display: inline-block;
    width: 46%;
    margin: 10px;
}
#output1 {
    
    display: inline-block;
    width: 46%;
    margin: 10px;
}
button{
    margin-left: 100px;
}

 h1 {
	font-family: 'Varela', Arial;
	text-transform:none;
	}
					